/* START: for visualization purposes */
.search-wrapper {

}

.menu-wrapper {

}
/* END: for visualization purposes */

:root {
    --brand-blue: rgb(68,145,207)	;
    --brand-grey: rgb(227	232	239	) ;
    --brand-white: white;

    /* Control-esque styling colors */
    --brand-black: black;
    --form-valid-color: rgb(87,191,161);
    --form-invalid-color: red;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;

    font-family: 'Helvetica Neue', sans-serif;
}


.layout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
}

/* START: Header styling  */

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--brand-white);

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    padding-bottom: 10px;
}

.search-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 8fr;

}

.search-wrapper > img {
    height: 25px;
    width: 25px;
    justify-self: end;
    align-self: center;
}

.search-wrapper > input {
    justify-self: center;
    width: 95%;
    background-color: var(--brand-grey);
    font-size: 16px;
    height: 25px;
    border-style: none;
    border-radius: 10px;
    padding-left: 0.5em;
}

.user-info-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: center;

    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    column-gap: 10px;
}

.user-info-wrapper > img {
    align-self: center;
}

.user-info-wrapper > img[alt="bell-icon"] {
    height: 25px;
    width: 25px;
}

.user-info-wrapper > img[alt="user-icon"] {
    height: 50px;
    width: 50px;
}

.user-info-wrapper > div {
    font-weight: bold;
    font-size: 16px;
    align-self: center;
    justify-self: center;
}

.hi-there-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 5fr;
    column-gap: 10px;
}

.hi-there-wrapper > img {
    grid-column: 1 / 2;
    height: 80px;
    width: 80px;
    align-self: center;
    justify-self: end;
}

.hi-there-wrapper > div {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: start;
}

.hi-there-wrapper > div > div:first-child {
    font-size: small;
    font-weight: bold;
}

.hi-there-wrapper > div > div:last-child {
    margin-top: -10px;
    font-size: x-large;
    font-weight: bold;
}

.menu-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.menu-wrapper > button {
    height: 50px;
    width: 100px;
    border-radius: 30px;
    border-style: none;
    background-color: var(--brand-blue);
    color: var(--brand-white);
    font-weight: bold;
    font-size: 16px;
}

/* END: Header styling  */

/* START: Sidebar styling  */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;

    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--brand-blue);
}

.dashboard-icon-wrapper,
.menu-item {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.dashboard-icon-wrapper {
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
}

.dashboard-icon-wrapper > img,
.menu-item > img {
    height: 20px;
    width: 20px;
    grid-column: 1 / 2;
}

.dashboard-icon-wrapper > img {
    height: 40px;
    width: 40px;
}

.dashboard-icon-wrapper > div,
.menu-item > div {
    grid-column: 2 / 3;
}

.dashboard-icon-wrapper,
.menu-item {
    color: var(--brand-white);
}

.vertical-menu-1,
.vertical-menu-2 {
    margin-top: 50px;
}

.menu-item {
    margin-top: 15px;
    font-size: large;
    font-weight: bold;
}

.menu-item > img {
    height: 25px;
    width: 25px;
}

/* END: Sidebar styling  */

/* START: Main content styling  */

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--brand-grey);
    padding: 50px;

    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 5px rgb(167, 167, 167) inset;
}

.main-content > .projects-wrapper {
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    display: grid;
    grid-template-rows: 1fr 16fr;
}

.main-content > .projects-wrapper > .section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project-cards-wrapper {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;

}

.project-card {
    background-color: var(--brand-white);
    border-radius: 5px;
    border-left: 10px solid rgb(231	182	74	);
    padding: 15px;

    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}

.project-card > .title {
    font-weight: bold;
}

.project-card > .desc {
    color: rgb(95, 94, 94);
}

.project-card > .icons {
    justify-self: end;
}

.icons > img {
    height: 20px;
    width: 20px;
}

.section-title {
    font-weight: bold;
    font-size: large;
    align-self: center;
    justify-self: start;
}



.main-content > .announcements-wrapper {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.main-content > .trending-wrapper {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}



/* END: Main content styling  */