/* START: for visualization purposes */
.search-wrapper {

}

.menu-wrapper {

}
/* END: for visualization purposes */

:root {
    --brand-blue: rgb(68,145,207)	;
    --brand-grey: rgb(227	232	239	) ;
    --brand-white: white;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
}


.layout {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
}

.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: var(--brand-white);
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: var(--brand-blue);
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--brand-grey);
}